@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="row">
    <div class="col-md-6 offset-md-3 my-3">
        <section class="login-form">
            <h1 class="text-center mb-4">Iniciar Sesión</h1>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <button type="submit" class="btn-login btn-block">
                        <img src="~/assets/img/enter.png" class="enter"/> Ingresar
                    </button>
                </div>
                <div class="form-group text-center">
                    <p>
                        ¿No tienes una cuenta? <a asp-page="./Register">Regístrate</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
