@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<div class="row">
    <div class="col-md-6 offset-md-3 my-3">
        <section class="register-form">
            <h1 class="text-center mb-4">Registrarse</h1>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.Name"></label>
                            <input asp-for="Input.Name" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.Surname"></label>
                            <input asp-for="Input.Surname" class="form-control" />
                            <span asp-validation-for="Input.Surname" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn-register btn-block mt-4">
                    <img src="~/assets/img/register.png" class="enter" /> Registrarse
                </button>
                <div class="form-group text-center mt-4">
                    <p>
                        ¿Ya tienes una cuenta? <a asp-page="./Login">Inicia sesión</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
